.club-explorer-layout {
  grid-template-columns: 1fr;
}
.hero-split-container {
  grid-template-columns: 1fr;
}
@media (min-width: 992px) {
  .club-explorer-layout {
    grid-template-columns: 260px 1fr !important;
  }
  .hero-split-container {
    grid-template-columns: 1.2fr 1fr !important;
  }
}
